@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    color: #050404;
}

a:visited {
    color: #050404;
}

button {
    border-radius: 5px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #5e6572;
    color: #050404;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
}

header {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7.5px;
}

main {
    margin-top: 0.1rem;
    margin: 20rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 0.4rem 0;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav a:hover {
    color: #050404;
}

nav:has(a:hover) a:not(:hover) {
    opacity: 0.3;
}

main {
    /*border: 2px solid #FFCEA3;*/
    background-color: #5e6572;
    /*margin: 30px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    /*border-radius: 10px;*/
    color: #050404;
    font-size: 20px;
    padding: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: justify;
    flex: 1;
}

footer {
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.form-contato {
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 10px;
}

#nome {
    width: 300px;
    border-radius: 10px;
}

#email {
    width: 300px;
    border-radius: 10px;
}

#msg {
    height: 100px;
    width: 300px;
    border-radius: 10px;
}