* {
    color: #050404;
    text-decoration: none;
}

.entrada {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.entrada textarea {
    height: 100px;
    width: 10px;
}

input {
    padding: 5px;
}

button {
    padding: 5px;
}

#resultado {
    display: block;
}

#resultado.aprovado {
    height: 50px;
    width: 300px;
    background-color: #2FBF71;
    border-left: 5px solid #053B06;
}

#resultado.recuperacao {
    height: 50px;
    width: 300px;
    background-color: #F3CA40;
    border-left: 5px solid #EB5E28;
    padding: 10px;
    border-radius: 10px;
}

#resultado.reprovado {
    height: 50px;
    width: 300px;
    background-color: #D1462F;
    border-left: 5px solid #3C0000;
    padding: 10px;
    border-radius: 10px;
}